<div style="width: 100vw; height: 100vh;">
  <ul 
  *ngIf="mainPageIndex !== null"
  ngxPageView
  [direction]="pageViewDirection"
  [threshold]="0.3"
  [current]="mainPageIndex"
  (onPageChanged)="onMainPageChanged($event)"
  style="list-style: none; padding:0;">
    <li ngxPageItem>
      <h1>ngx-page-view</h1>
      <h2>What is this?</h2>
      <p>You can implement tiktok like swipe view easily with ngx-page-view</p>
      <ul>
        <li>available vertical and horizontal swipe</li>
        <li>availabel touch swiping / mouse swipiping / mouse scrolling</li>
        <li>Customizable</li>
      </ul>
      <h2>Example</h2>

      <h2>How to customize?</h2>
      <p>You can customize following property</p>
      <ul>
        <li><b>threshold</b> (default 0.3)</li>
        <li><b>direction</b> (default PageViewDirection.horizontal): swipe direction </li>
        <li><b>current</b> (default: 0): if you pass current index of page view, then it will jump to the page</li>
      </ul>
    </li>
    <li ngxPageItem>TEST2</li>
    <li ngxPageItem>
      <div ngxPageView [threshold]="0.1">
        <div ngxPageItem>TEST3-1</div>
        <div ngxPageItem>TEST3-2</div>
        <div ngxPageItem>TEST3-3</div>
      </div>
    </li>

  </ul>
</div>